*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #001821;
    color: #fff;
}
.wrapper {
    height: 100%;
    width: 100%;
    background-image: url(/folder/background.png);
    background-repeat: no-repeat;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}

.container {
    width: 1142px;
    margin: 0 auto;
}
.header {
    position: relative;
    min-height: 129px ;    
}
.logo, .menu , .contacts {
    position: absolute;
}
.logo {
    top: 29px;
}
.menu {
    top: 42px;
    margin-left: 79px;
}
.menu__list {
    top: 42px;
    margin-left: 79px;
}
.menu__item {
    display: inline-block;
    margin-right: 54px;
    text-decoration: none;
}
.menu__item:last-child {
    margin-right: 0px;
}
.menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.contacts {
    right: 0;
    top: 20px;
}
.contacts__phone {
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
    font-style: normal;
}
.contacts__dropdown-title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
    text-align: end;
}
.contacts__bg {
    background-color:#EDEDED;
    width: 160px;
    height: 80px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 5px;
    display: inline-block;
}
.contacts__workhours {
    font-style:normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
}
.contacts__lunch {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
}
.main__content {
    text-align: left;
}
.main__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    width: 511px;
    height: 197px;
}
.main__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-top: 27px;
    margin-bottom: 50px
}
.main__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    border: 0px;
}
.main__btn:hover {
    background: #9b1e1a;
    transition:  .4s;
}
.tours__header {
    margin-top: 246px;
    margin-bottom: 59px;
}
.tours__header-img {
    width: 21px;
    height: 28px;
    margin-left: 10px;
    margin-bottom: -3px;
}
.tours__item {
    width: 357px;
    display: inline-block;
    height: 468px;
    background: #fff;
    color: black;
    border-radius: 5px;
    margin-right: 27px;
}
.tours__item:last-child {
    margin-right: 0px;
}
.tours__icon {
    width: 357px;
}
.tours__context-header {
    margin-left: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

}
.tours__context-info {
    margin-left: 26px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    display: inline-block;
}
.tours__context-icon {
    display:inline-block;
    margin-right: 10px;
}
.tours__context-duration{
    display:inline-block;
}
.tours__context-addition {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    display: inline-block;
}
.tours__context-img {
    display: inline-block;
    margin-left: 27px;
    width: 36px;
    height: 26px;
    margin-right: 9px;
}
.tours__context-text {
    display: inline-block;
}
.tours__context-texting {
    margin-left: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 42px;
}


.tours__context-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #fff;
    border: #fff;
    margin-top: 42px;
    border: 1px solid #F5170E;
    border-radius: 35px;
}
.tours__context-button:hover {
    background: #9b1e1a;
    transition:  .4s;
}
.button--line {
    background: #fff;
    color: #F5170E;
    border-color: #F5170E;
    border: 35px transparent;
    margin-top: 42px;
    border: 1px solid #F5170E;
    border-radius: 35px;
}
.button--line:hover {
    background: #F5170E;
    color: #fff;
}
.sales__header {
    margin-top: 127px;
    margin-bottom: 51px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}
.sales__item {
    display: inline-block;
    width: 555px;
    height: 394px;
    position: relative;
    margin-right: 25px;
}
.sales__item:last-child {
    margin-right: 0px;
}
.sales__img {
    position: absolute;
    
}
.sales__content {
    position: absolute;
    bottom: 47px;
    left: 31px;
}
.news__date-month,.news__date-year {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.sale__item-announcement {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.paginator {
    text-align: center;
    margin-top: 58px;
    margin-bottom: 151px;
}
.paginator__display, .paginator__list, .paginator__item {
    display: inline-block;
} 
.paginator__display {
    margin-right: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.paginator__link {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color:#fff;
    border-radius: 50%;
    padding: 5px 11px;    
    transition:  .4s;
}
.paginator__link:hover {
    background: #fff;
    color: #F5170E;
}

.paginator__item {
    margin-right: 24px;
}
.paginator__item:last-child {
    margin-right: 0px;
}
.paginator__item--active .paginator__link {
    background: #fff;
    color: #F5170E;
} 
.info__img {
    display: inline-block;
    vertical-align: top;
}
.info__content {
    display: inline-block;
    width: 502px;
    margin-left: -140px;
    margin-top: 100px;
    vertical-align: top;
}

.info__content-img {
    position: absolute;
    width: 785px;
    height: 455px;
}
.info__content-text {
    position: absolute;
    width: 502px;
    margin-left: 81px;
    margin-top: 71px;;
}
.info__content-header {
    margin: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: black;
}
.info__content-description {
    margin-top: 37px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px; 
    color: #060606;
    margin-bottom: 61px;
}
.line {
    margin-top: 100px;
    height: 4px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
}





.footer {
    position: relative;
}
.logo, .menu , .contacts, .socials {
    position: absolute;
}
.footer .menu {
    margin-top: 40px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.footer .logo {
    margin-top: 45px;
    margin-bottom: 50px;
}

.socials {
    top: 18px;
    left: 672px;
    display: inline-block;
    margin-top: 45px;
    margin-right: 75px;
    margin-bottom: 50px;
}

.socials__list-item {
    display:inline-block;
    margin-right: 10px;
}
.footer .contacts__dropdown-title {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
    font-style: normal;
}
.footer .contacts__phone {
    font-style: normal;
}